@import "layouts.css" layer(Layout);
@import "reset.css" layer(Reset);

:root {
  --color-Vert-50: oklch(100% 0.01 114.99);
  --color-Vert-100: oklch(98% 0.01 114.99);
  --color-Vert-200: oklch(94.5% 0.01 114.99);
  --color-Vert-300: oklch(84.5% 0.02 114.99);
  --color-Vert-400: oklch(76.197% 0.0155 114.991);
  --color-Vert-500: oklch(64.5% 0.02 114.99);
  --color-Vert-600: oklch(54.5% 0.02 114.99);
  --color-Vert-700: oklch(44.5% 0.02 114.99);
  --color-Vert-800: oklch(34.5% 0.01 114.99);
  --color-Vert-900: oklch(24.5% 0.01 114.99);
  --color-Vert-fade: oklch(76.2% 0.01 114.99);
  --color-Vert-bright: oklch(76.2% 0.02 114.99);
  --color-Marron-50: oklch(100% 0.01 79.29);
  --color-Marron-100: oklch(98% 0.01 79.29);
  --color-Marron-200: oklch(94.5% 0.02 79.29);
  --color-Marron-300: oklch(84.5% 0.03 79.29);
  --color-Marron-400: oklch(74.5% 0.03 79.29);
  --color-Marron-500: oklch(61.1948% 0.0313 79.2948);
  --color-Marron-600: oklch(54.5% 0.03 79.29);
  --color-Marron-700: oklch(44.5% 0.03 79.29);
  --color-Marron-800: oklch(34.5% 0.02 79.29);
  --color-Marron-900: oklch(24.5% 0.01 79.29);
  --color-Marron-fade: oklch(61.19% 0.02 79.29);
  --color-Marron-bright: oklch(61.19% 0.04 79.29);
}

body {
  background: black;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: var(--color-Vert-300);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.back-link {
  color: var(--color-Vert-400);
  margin-bottom: 2rem;
  display: block;
  text-decoration: none;
}

.back-link:hover {
  transform: translateX(-2px);
}

::selection {
  background: #7b067f;
  color: white;
}

section.marronVert {
  padding: 1rem;
  margin: 2rem auto;
  background: var(--color-Marron-800);
  border: 1px solid var(--color-Vert-200);
  gap: 1rem;
}

img {
  width: 100%; /* du container */
  height: 100%; /* du container */
  max-height: 43rem;
  object-fit: cover;
  border: 2px solid var(--color-Vert-50);
}

.vignettes {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  gap: 1rem;
  font-size: 0.8rem;
}

@media (width < 48rem) {
  .vignettes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.vignette {
  display: block;
  border: 1px solid var(--color-Vert-400);
  padding: 0.5rem 1rem;
}

.vignette_01 {
  background: hsl(100, 3%, 82%);
  color: black;
}

.vignette_02 {
  background: hsl(60, 8%, 67%);
  color: black;
}

.vignette_03 {
  background: hsl(40, 10%, 64%);
  /* color: var(--color-Marron-900); */
  color: black;
}

.vignette_04 {
  background: hsl(37, 12%, 50%);
  color: white;
}

.vignette_05 {
  background: hsl(34, 22%, 35%);
  color: white;
}

.vignette_06 {
  background: hsl(32, 13%, 26%);
  color: white;
}

@media (max-width: 960px;) {
  .section {
    flex-direction: column;
  }

  .vignettes {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
