body {
  background-image: url("../illustrations/body-bg-image.png");
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 100vh;
}

/* --------------------------------------- */

.theme-toggle {
  visibility: hidden;
}

/* --------------------------------------- */

.titre {
  text-align: center;
  margin: 1rem auto;
  font-size: clamp(1.9rem, 0.8333rem + 5.3333vw, 3rem);
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 2px black;
}

.container {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.photoCentrale {
  width: 100%;
  height: auto;
  border: 5px solid #c89b3f;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}

@media (max-width: 59rem) {
  .container {
    flex-direction: column;
  }

  /* .titre {
    font-size: 5.5vw;
  } */
}

/* ******* Animated CSS Buttons ********************* */

.btn {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 2.76rem;
  border: 2px solid #c89b3f;
  border-radius: 5px;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before {
  background: #c89b3f;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn2::before {
  width: 100%;
  height: 0%;
}

.btn2:hover::before {
  height: 100%;
}

/* ******* END OF Animated CSS Buttons ********************* */
